* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}



.centered-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 5vh;
	padding: 10px;
}

form {
	background: linear-gradient(rgba(255, 255, 255, 0.4), rgb(255, 253, 253));
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
}

.header h2 {
	margin: 15px 5px 40px 5px;
}

.form-box {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin-left: 20px;
	margin-bottom: 20px;
}

.form-box .error-text {
	font-family: "Cormorant Garamond", serif;
	margin-top: 5px;
	font-size: 20px;
	color: rgb(171, 17, 17);
	visibility: hidden;
}

.form-box label:first-child {
	font-size: 30px;
}

.form-box input::placeholder {
	font-size: 20px;
}
.style-input-information {
	padding: 5px;
	height: 40px;
	width: 95%;
	font-size: 20px;
	margin-top: 5px;
	border: 1px solid black;
	outline: none;
}

.style-input-information:hover,
.style-input-information:active,
.style-input-information:focus {
	box-shadow: 0 0 0px 1000px rgb(255, 255, 255) inset;
	background-color: rgb(228, 218, 218);
}

.fa-check,
.fa-x {
	position: absolute;
	top: 40px;
	left: 82%;
	visibility: hidden;
	font-size: 35px;
}

.fa-check {
	color: rgb(33, 145, 67);
}

.fa-x {
	color: rgba(255, 0, 0, 0.8);
}

.control-button {
	display: flex;
	justify-content: flex-end;
	margin-top: 20px;
	margin-bottom: 20px;
}
.clear-form-btn,
.go-next-btn {
	padding: 10px 20px;
	margin-right: 20px;
	cursor: pointer;
	transition: 0.5s;
	background: linear-gradient(
		rgb(228, 216, 216) 25%,
		pink 50%,
		rgb(131, 131, 146) 75%,
		pink 100%
	);
	border: 1px solid white;
	background-size: 400% 400%;
}

.clear-form-btn:hover,
.clear-form-btn:focus,
.go-next-btn:hover,
.go-next-btn:focus {
	background-position: 100% 100%;
}

.end-form {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	visibility: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	scroll-snap-align: start;
}

.end-form p {
	font-family: "Crimson Text", serif;
	font-size: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.end-form-text {
	text-align: center;
	font-size: 40px;
}

.closeBtn {
	padding: 20px 40px;
	border-radius: 10px;
	background-color: rgb(228, 216, 216);
	border: 1px solid;
	cursor: pointer;
	animation: animationCloseBtn 1s infinite steps(30);
	transition: background 2s;
	font-size: 20px	;
}

.closeBtn:hover,
.closeBtn:focus {
	background: linear-gradient(rgb(131, 131, 146), rgb(194, 50, 74));
	animation-play-state: paused;
}

@keyframes animationCloseBtn {
	0% {
		background: linear-gradient(rgb(213, 213, 225), rgb(237, 117, 137));
	}
	100% {
		background: linear-gradient(rgb(131, 131, 146), rgb(194, 50, 74));
	}
}

/* Add class in JS */
/* -------------------------------------------------------------------------------------------- */

.underline {
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-decoration-color: red;
	text-decoration-thickness: 1px;
}

.animationAfterClickEnter {
	animation: clickEnter 0.5s;
}

@keyframes clickEnter {
	100% {
		background-position: 100% 100%;
	}
}

