:root {
	--color-error-text: rgb(171, 17, 17);
	--error-style-text: "Cormorant Garamond", serif;
	--main-font: "Crimson Text", serif;
	--backGround-page-part1: rgb(238, 174, 202);
	--backGround-page-part2: radial-gradient(
		circle,
		rgba(238, 174, 202, 0.5830707282913166) 0%,
		rgba(148, 187, 233, 1) 100%
	);
}
