* {
	box-sizing: border-box;
}
body {
	height: 100%;
	background: linear-gradient(rgb(0, 0, 3), rgb(255, 192, 203));
	background-size: cover;
	width: 100%;
	margin: 0;
	padding: 0;
}

.data {
	display: none;
}
.container-body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.body-app {
	width: 95%;
}

.header-app {
	text-align: center;
	color: rgb(224, 144, 144);
}
.city-information {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
	color: rgb(231, 215, 215);
}
.body-information-about-weather {
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: space-around;
}
.container-welcome-text {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.container-welcome-text h1 {
	margin-bottom: 0;
}

.rules {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	line-height: 30px;
	font-size: 18px;
}
.all-quiz {
	display: flex;
	flex-direction: column;
}
.quiz-JS,
.quiz-HTML,
.quiz-CSS {
	text-align: center;
}

.all-quiz p {
	letter-spacing: 2px;
	font-weight: bold;
	margin: 15px 0px 15px 0px;
	font-size: 40px;
}

.quiz-JS button,
.quiz-HTML button,
.quiz-CSS button {
	background-color: inherit;
	border: none;
	outline: none;
	cursor: pointer;
	transition: 0.5s;
}

.quiz-JS button:hover,
.quiz-HTML button:hover,
.quiz-CSS button:hover,
.quiz-JS button:focus,
.quiz-HTML button:focus,
.quiz-CSS button:focus {
	color: #646a6d;
}
