.all-quiz {
	display: flex;
	flex-direction: column;
}

.quiz-JS,
.quiz-HTML,
.quiz-CSS {
	text-align: center;
}

.all-quiz p {
	letter-spacing: 2px;
	font-weight: bold;
	margin-top: 15px;
	font-size: 3rem;
}

.quiz-JS button,
.quiz-HTML button,
.quiz-CSS button {
	background-color: inherit;
	border: none;
	outline: none;
	cursor: pointer;
	transition: color 0.5s;
}

.quiz-JS button:hover,
.quiz-HTML button:hover,
.quiz-CSS button:hover,
.quiz-JS button:focus,
.quiz-HTML button:focus,
.quiz-CSS button:focus {
	color: #646a6d;
}
