.final-score-box {
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	visibility: hidden;
	width: 98%;
	text-align: center;
}
.final-score {
	font-size: 2.2rem;
	color: rgb(251, 251, 250);
	margin-bottom: 20px;
}

.end-buttons {
	display: flex;
	justify-content: space-around;
	width: 90%;
}

.last-optionBtn {
	background-color: rgba(0, 0, 0, 0.236);
	padding: 10px 40px;
	cursor: pointer;
	outline: none;
	transition: background-color 0.3s;
	border-radius: 5px;
	font-size: 1.2rem;
	margin: 5px;
}

.last-optionBtn:hover,
.last-optionBtn:focus {
	background-color: rgba(216, 154, 194, 0.775);
}
