body {
	background: var(--backGround-page-part1);
	background: var(--backGround-page-part2);
	font-family: var(--main-font);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}